{% render 'header-main-menu' %}

{% for block in section.blocks %}
  {% case block.type %}
    {% when 'submenu_block' %}
      <div
        class="mega-menu absolute-menu"
        style="display: none;"
        data-menu-for="{{ block.settings.trigger_link | escape }}"
      >
        <ul>
          {% for mainlink in linklists[block.settings.submenu].links %}
            <li><a href="{{ mainlink.url }}">{{ mainlink.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
  {% endcase %}
{% endfor %}

<style>
  .absolute-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    width: 100%;
    z-index: 999;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }

  .absolute-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }

  .absolute-menu li a {
    text-decoration: none;
    color: black;
  }
</style>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Main Menu",
      "default": "main-menu"
    }
  ],
  "blocks": [
    {
      "type": "submenu_block",
      "name": "Submenu Block",
      "settings": [
        {
          "type": "text",
          "id": "trigger_link",
          "label": "Main Menu Link Title (exact match)"
        },
        {
          "type": "link_list",
          "id": "submenu",
          "label": "Submenu"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Header with Mega Menu"
    }
  ]
}
{% endschema %}


